<form method="post">
    {% csrf_token %}

    <div>
        <h2>Amabilidade</h2>

        {% for pergunta in Amabilidade %}
            <label>{{forloop.counter0}} - {{pergunta}}</label>
            {% for v in valores %}
                <input type="radio" name="amabilidade" value="{{ v }}"> {{ v }}
            {% endfor %}
        {% endfor %}

    </div>

    <div>
        <h2>Abertura a Experiências</h2>
        <label>2 - {{ Amabilidade.1.pergunta }}</label>
        {% for v in valores %}
            <input type="radio" name="q2" value="{{ v }}"> {{ v }}
        {% endfor %}
    </div>

    <div>
        <h2>Conscienciosidade</h2>
        <label>3 - {{ Amabilidade.2.pergunta }}</label>
        {% for v in valores %}
            <input type="radio" name="q3" value="{{ v }}"> {{ v }}
        {% endfor %}
    </div>

    <div>
        <h2>Extroversão</h2>
        <label>4 - {{ Amabilidade.3.pergunta }}</label>
        {% for v in valores %}
            <input type="radio" name="q4" value="{{ v }}"> {{ v }}
        {% endfor %}
    </div>

    <div>
        <h2>Neuroticismo</h2>
        <label>5 - {{ Amabilidade.4.pergunta }}</label>
        {% for v in valores %}
            <input type="radio" name="q5" value="{{ v }}"> {{ v }}
        {% endfor %}
    </div>

    <button type="submit">Enviar</button>
</form>
